Repository the-one-rvs/talkz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_apiGateway, trigger_chat, trigger_token, trigger_frontend, trigger_getuser, trigger_keyhandler, trigger_logout, trigger_updateaccount, trigger_oauth, trigger_login, trigger_register, trigger_mail

trigger_apiGateway:
  stage: trigger
  trigger:
    include: apiGateway/.gitlab-ci.yml
    strategy: depend

trigger_chat:
  stage: trigger
  trigger:
    include: chatHandler/.gitlab-ci.yml
    strategy: depend

trigger_token:
  stage: trigger
  trigger:
    include: generateToken/.gitlab-ci.yml
    strategy: depend

trigger_frontend:
  stage: trigger
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

trigger_getuser:
  stage: trigger
  trigger:
    include: getUser/.gitlab-ci.yml
    strategy: depend

trigger_keyhandler:
  stage: trigger
  trigger:
    include: keyHandler/.gitlab-ci.yml
    strategy: depend

trigger_logout:
  stage: trigger
  trigger:
    include: logout/.gitlab-ci.yml
    strategy: depend

trigger_updateaccount:
  stage: trigger
  trigger:
    include: updateAccount/.gitlab-ci.yml
    strategy: depend

trigger_oauth:
  stage: trigger
  trigger:
    include: oAuth/.gitlab-ci.yml
    strategy: depend

trigger_login:
  stage: trigger
  trigger:
    include: login/.gitlab-ci.yml
    strategy: depend

trigger_register:
  stage: trigger
  trigger:
    include: register/.gitlab-ci.yml
    strategy: depend

trigger_mail:
  stage: trigger
  trigger:
    include: mail/.gitlab-ci.yml
    strategy: depend

fix: Update image tags to version 1.0.1 for multiple Helm chart values.yaml files
  manifests/helm/chat/values.yaml
  manifests/helm/frontend/values.yaml
  manifests/helm/gateway/values.yaml
  manifests/helm/getuser/values.yaml
  manifests/helm/key/values.yaml
  manifests/helm/logout/values.yaml
  manifests/helm/oauth/values.yaml
  manifests/helm/register/values.yaml
  manifests/helm/token/values.yaml
  manifests/helm/update/values.yaml
Due: none

fix: Add sync-wave annotations for multiple applications in apps.yaml
  manifests/apps.yaml
Due: none

fix: Update deployment playbook to check for run script and add execution; create utils application manifest
  infra/playbooks/deploy_talkz.yml
  manifests/apps.yaml
  manifests/run.sh
  manifests/utils-app.yaml
Due: none

fix: Remove unused PersistentVolume template and update PersistentVolumeClaim to use fixed storage size
  manifests/helm/utils/templates/mongodb/pv.yaml
  manifests/helm/utils/templates/mongodb/pvc.yaml
Due: none

fix: Update storageClassName to local-storage in PVC and add PersistentVolume definition for MongoDB
  infra/.gitignore
  manifests/helm/utils/templates/mongodb/pv.yaml
  manifests/helm/utils/templates/mongodb/pvc.yaml
Due: none

fix: Change secure option to false for cookie in reclaimTokens function
  generateToken/src/controller/token.controller.js
Due: trigger_token

fix: Update image tag to 1.0.2 in values.yaml
  manifests/helm/token/values.yaml
Due: none

fix: Reorder options for secure and httpOnly in reclaimTokens function
  generateToken/src/controller/token.controller.js
Due: trigger_token

fix: Update image tag to 1.0.3 in values.yaml
  manifests/helm/token/values.yaml
Due: none

fix: Update cookie secure option to false and increment image tag to 1.0.2
  apiGateway/src/decorator/cookieRemover.decortor.js
  apiGateway/src/decorator/cookieSetup.decorator.js
  manifests/helm/gateway/values.yaml
Due: trigger_apiGateway

fix: Update redirect URLs to use HTTPS for security
  oAuth/src/controller/oauth.controller.js
Due: trigger_oauth

fix: Update image tag to 0.0.5 in values.yaml
  manifests/helm/frontend/values.yaml
Due: none

fix: Downgrade image tag to 0.0.4 for frontend and increment image tag to 1.0.2 for oauth
  manifests/helm/frontend/values.yaml
  manifests/helm/oauth/values.yaml
Due: none

fix: Update socket connection URL in ChatPage to use relative path
  frontend/nginx/default.conf
  frontend/src/pages/ChatPage.jsx
Due: trigger_frontend

fix: Update image tag to 1.0.1 in values.yaml
  manifests/helm/frontend/values.yaml
Due: none

fix: Include socket environment variables in Nginx config substitution
  frontend/nginx/entrypoint.sh
  manifests/helm/frontend/values.yaml
Due: trigger_frontend

fix: Include additional socket environment variables in Nginx config substitution
  frontend/nginx/entrypoint.sh
Due: trigger_frontend

fix: Update image tag to 1.0.3 in values.yaml
  manifests/helm/frontend/values.yaml
Due: none

fix: Update image repository and tag in values.yaml; change socket proxy_pass to use ws protocol
  frontend/nginx/default.conf
  manifests/helm/frontend/values.yaml
Due: trigger_frontend

fix: Update image repository and tag in values.yaml to quasarcelestio/talkz-frontend:1.0.3
  manifests/helm/frontend/values.yaml
Due: none

fix: Remove trailing slash from socket proxy_pass URL in Nginx config
  frontend/nginx/default.conf
Due: trigger_frontend

fix: Update image tag to 1.0.4 in values.yaml
  manifests/helm/frontend/values.yaml
Due: none

fix: Update socket proxy_pass to use HTTP and change image tag to 1.0.5 in values.yaml
  frontend/nginx/default.conf
  manifests/helm/frontend/values.yaml
Due: trigger_frontend

fix: Correct socket proxy_pass port from 80 to 80s in Nginx config
  frontend/nginx/default.conf
Due: trigger_frontend

fix: Update socket proxy_pass port to 80 in Nginx config and change image tag to 1.0.6 in values.yaml
  frontend/nginx/default.conf
  manifests/helm/frontend/values.yaml
Due: trigger_frontend

fix: Update socket.io path in ChatPage and Nginx config, and bump image tag to 1.0.8 in values.yaml
  frontend/nginx/default.conf
  frontend/src/pages/ChatPage.jsx
  manifests/helm/frontend/values.yaml
Due: trigger_frontend

fix: Update socket.io initialization in ChatPage for improved path handling
  frontend/src/pages/ChatPage.jsx
  manifests/helm/frontend/values.yaml
Due: trigger_frontend

fix: Refactor Nginx configuration for improved readability and structure
  frontend/nginx/default.conf
Due: trigger_frontend

fix: Bump frontend image tag to 1.0.10 in values.yaml
  manifests/helm/frontend/values.yaml
Due: none

feat: Integrate Redis client and update token generation logic
  generateToken/src/controller/token.controller.js
  generateToken/src/utils/redisClient.js
  manifests/helm/token/values.yaml
Due: trigger_token

fix: Update node affinity values in PersistentVolume configuration
  manifests/helm/utils/templates/mongodb/pv.yaml
Due: none

fix: Update node affinity value in PersistentVolume configuration to 'talkz'
  manifests/helm/utils/templates/mongodb/pv.yaml
Due: none

Path conditions:
  trigger_apiGateway: any of: apiGateway/**/*
  trigger_chat: any of: chatHandler/**/*
  trigger_token: any of: generateToken/**/*
  trigger_frontend: any of: frontend/**/*
  trigger_getuser: any of: getUser/**/*
  trigger_keyhandler: any of: keyHandler/**/*
  trigger_logout: any of: logout/**/*
  trigger_updateaccount: any of: updateAccount/**/*
  trigger_oauth: any of: oAuth/**/*
  trigger_login: any of: login/**/*
  trigger_register: any of: register/**/*
  trigger_mail: any of: mail/**/*
