Repository the-one-rvs/talkz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_apiGateway, trigger_chat, trigger_token, trigger_frontend, trigger_getuser, trigger_keyhandler, trigger_logout, trigger_updateaccount, trigger_oauth, trigger_login, trigger_register, trigger_mail

.gitlab-ci.yml:

stages:
  - trigger

# Shared secrets (secured in GitLab Variables)
variables:
  DOCKERHUB_USER: $DOCKERHUB_USER
  DOCKERHUB_PASS: $DOCKERHUB_PASS

# API GATEWAY SERVICE
trigger_apiGateway:
  stage: trigger
  trigger:
    include: 'apiGateway/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "apiGateway/**/*"

# CHAT HANDLER SERVICE
trigger_chat:
  stage: trigger
  trigger:
    include: 'chatHandler/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "chatHandler/**/*"

# TOKEN SERVICE
trigger_token:
  stage: trigger
  trigger:
    include: 'generateToken/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "generateToken/**/*"

# FRONTEND
trigger_frontend:
  stage: trigger
  trigger:
    include: 'frontend/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "frontend/**/*"


# GET USER SERVICE
trigger_getuser:
  stage: trigger
  trigger:
    include: 'getUser/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "getUser/**/*"


# KEY HANDLER SERVICE
trigger_keyhandler:
  stage: trigger
  trigger:
    include: 'keyHandler/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "keyHandler/**/*"


# LOGOUT SERVICE
trigger_logout:
  stage: trigger
  trigger:
    include: 'logout/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "logout/**/*"


# UPDATE ACCOUNT SERVICE
trigger_updateaccount:
  stage: trigger
  trigger:
    include: 'updateAccount/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "updateAccount/**/*"


# OAUTH SERVICE
trigger_oauth:
  stage: trigger
  trigger:
    include: 'oAuth/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "oAuth/**/*"


# LOGIN SERVICE
trigger_login:
  stage: trigger
  trigger:
    include: 'login/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "login/**/*"


# REGISTER SERVICE
trigger_register:
  stage: trigger
  trigger:
    include: 'register/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "register/**/*"

# MAIL SERVICE
trigger_mail:
  stage: trigger
  trigger:
    include: 'mail/.gitlab-ci.yml'
    strategy: depend
  rules:
    - changes:
        - "mail/**/*"

try this test
  getUser/test.txt
Due: trigger_getuser

Refactor CI/CD pipelines for services: login, logout, mail, oAuth, register, and updateAccount
  apiGateway/.gitlab-ci.yml
  chatHandler/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  generateToken/.gitlab-ci.yml
  getUser/.gitlab-ci.yml
  keyHandler/.gitlab-ci.yml
  login/.gitlab-ci.yml
  logout/.gitlab-ci.yml
  mail/.gitlab-ci.yml
  oAuth/.gitlab-ci.yml
  register/.gitlab-ci.yml
  updateAccount/.gitlab-ci.yml
Due: trigger_apiGateway, trigger_chat, trigger_token, trigger_frontend, trigger_getuser, trigger_keyhandler, trigger_logout, trigger_updateaccount, trigger_oauth, trigger_login, trigger_register, trigger_mail

Refactor CI configuration for consistency and clarity
  apiGateway/.gitlab-ci.yml
  chatHandler/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  generateToken/.gitlab-ci.yml
  getUser/.gitlab-ci.yml
  keyHandler/.gitlab-ci.yml
  login/.gitlab-ci.yml
  logout/.gitlab-ci.yml
  mail/.gitlab-ci.yml
  oAuth/.gitlab-ci.yml
  register/.gitlab-ci.yml
  updateAccount/.gitlab-ci.yml
Due: trigger_apiGateway, trigger_chat, trigger_token, trigger_frontend, trigger_getuser, trigger_keyhandler, trigger_logout, trigger_updateaccount, trigger_oauth, trigger_login, trigger_register, trigger_mail

testing connection
  xyz.txt
Due: none

chore: Remove unused xyz.txt file
  xyz.txt
Due: none

chore: Update CI/CD triggers to include conditional rules for commit tags
  .gitlab-ci.yml
Due: none

Test CI
  getUser/test.txt
Due: trigger_getuser

fix: standardize naming conventions for deployment and service in Helm charts
  manifests/helm/oauth/templates/deployment.yaml
  manifests/helm/oauth/templates/svc.yaml
  manifests/helm/oauth/values.yaml
Due: none

refactor: update naming conventions for deployment and service in Helm charts
  manifests/helm/chat/templates/deployment.yaml
  manifests/helm/chat/templates/svc.yaml
  manifests/helm/chat/values.yaml
  manifests/helm/frontend/templates/deployment.yaml
  manifests/helm/frontend/templates/svc.yaml
  manifests/helm/frontend/values.yaml
  manifests/helm/gateway/templates/deployment.yaml
  manifests/helm/gateway/templates/svc.yaml
  manifests/helm/gateway/values.yaml
  manifests/helm/getuser/templates/deployment.yaml
  manifests/helm/getuser/templates/svc.yaml
  manifests/helm/getuser/values.yaml
  manifests/helm/key/templates/deployment.yaml
  manifests/helm/key/templates/svc.yaml
  manifests/helm/key/values.yaml
  manifests/helm/login/templates/deployment.yaml
  manifests/helm/login/templates/svc.yaml
  manifests/helm/login/values.yaml
  manifests/helm/logout/templates/deployment.yaml
  manifests/helm/logout/templates/svc.yaml
  manifests/helm/logout/values.yaml
  manifests/helm/mail/templates/deployment.yaml
  manifests/helm/mail/templates/svc.yaml
  manifests/helm/mail/values.yaml
  manifests/helm/register/templates/deployment.yaml
  manifests/helm/register/templates/svc.yaml
  manifests/helm/register/values.yaml
  manifests/helm/token/templates/deployment.yaml
  manifests/helm/token/templates/svc.yaml
  manifests/helm/token/values.yaml
  manifests/helm/update/templates/deployment.yaml
  manifests/helm/update/templates/svc.yaml
  manifests/helm/update/values.yaml
Due: none

fix: change service type to NodePort in Helm chart and update app export syntax
  manifests/helm/gateway/values.yaml
  register/src/app.js
  register/src/index.js
Due: trigger_register

fix: change export syntax for app module to default export
  getUser/src/app.js
  getUser/src/index.js
Due: trigger_getuser

New Changes to Redis Client in GetUser Service
  getUser/src/utils/redisClient.js
  infra/eks/.gitignore
  infra/eks/eks.tf
  infra/eks/main.tf
  infra/eks/outputs.tf
  infra/eks/provider.tf
  infra/eks/variables.tf
  infra/eks/vpc.tf
Due: trigger_getuser

Changed Docker Version in getUser
  getUser/.gitlab-ci.yml
Due: trigger_getuser

No TLS Redis in getUser
  getUser/src/utils/redisClient.js
Due: trigger_getuser

fix: update Redis client configuration to use environment variable for host
  getUser/src/utils/redisClient.js
Due: trigger_getuser

fix: update tag fetching logic and Docker image version in CI configuration
  getUser/.gitlab-ci.yml
Due: trigger_getuser

fix: update Docker image version and tag fetching logic in CI configuration
  apiGateway/.gitlab-ci.yml
  chatHandler/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  generateToken/.gitlab-ci.yml
  getUser/test.txt
  keyHandler/.gitlab-ci.yml
  login/.gitlab-ci.yml
  logout/.gitlab-ci.yml
  mail/.gitlab-ci.yml
  oAuth/.gitlab-ci.yml
  register/.gitlab-ci.yml
  updateAccount/.gitlab-ci.yml
Due: trigger_apiGateway, trigger_chat, trigger_token, trigger_frontend, trigger_getuser, trigger_keyhandler, trigger_logout, trigger_updateaccount, trigger_oauth, trigger_login, trigger_register, trigger_mail

fix: comment out liveness and readiness probes in deployment templates
  manifests/helm/chat/templates/deployment.yaml
  manifests/helm/frontend/templates/deployment.yaml
  manifests/helm/gateway/templates/deployment.yaml
  manifests/helm/getuser/templates/deployment.yaml
  manifests/helm/key/templates/deployment.yaml
  manifests/helm/login/templates/deployment.yaml
  manifests/helm/logout/templates/deployment.yaml
  manifests/helm/mail/templates/deployment.yaml
  manifests/helm/oauth/templates/deployment.yaml
  manifests/helm/register/templates/deployment.yaml
  manifests/helm/token/templates/deployment.yaml
  manifests/helm/update/templates/deployment.yaml
Due: none

feat: Configure EKS cluster with public/private endpoint access, root admin policy, additional node group IAM policies, set default region to us-east-1, and generate a kubectl config script.
  infra/eks/.gitignore
  infra/eks/eks.tf
  infra/eks/outputs.tf
  infra/eks/variables.tf
Due: none

feat: Add Ansible playbook and helper script to deploy ArgoCD on EKS.
  infra/playbooks/.gitignore
  infra/playbooks/setup_argocd.yml
Due: none

feat: Add Ansible playbook for EKS application deployment, expose frontend via LoadBalancer, and increase EKS node capacity.
  infra/eks/outputs.tf
  infra/eks/variables.tf
  infra/playbooks/deploy_talkz.yml
  manifests/helm/frontend/values.yaml
Due: none

feat: Add runner script to automate infrastructure provisioning and application deployment.
  infra/runner.sh
Due: none

Please provide the diff content for `/home/quasar/proj-ops/bk-projs/talkz/infra/runner.sh` to generate an accurate commit message.
  infra/runner.sh
Due: none

fix: Add storageClassName to MongoDB PVC and fix frontend service selector
  manifests/helm/frontend/templates/svc.yaml
  manifests/helm/utils/templates/mongodb/statefulset.yaml
  manifests/helm/utils/values.yaml
Due: none

fix: Correct import path in Chat service
  chatHandler/src/controller/getMessages.controller.js
Due: trigger_chat

fix: Update runner script to ensure correct directory navigation and apply Terraform changes
  infra/runner.sh
  manifests/helm/gateway/values.yaml
Due: none

fix: Update service labels and replica count in Helm chart for consistency
  manifests/helm/gateway/templates/svc.yaml
  manifests/helm/gateway/values.yaml
Due: none

fix: Update service selectors to use deploymentName and set replicaCount to 1 for consistency
  manifests/helm/chat/templates/svc.yaml
  manifests/helm/chat/values.yaml
  manifests/helm/frontend/values.yaml
  manifests/helm/getuser/templates/svc.yaml
  manifests/helm/getuser/values.yaml
  manifests/helm/key/templates/svc.yaml
  manifests/helm/key/values.yaml
  manifests/helm/login/templates/svc.yaml
  manifests/helm/login/values.yaml
  manifests/helm/logout/templates/svc.yaml
  manifests/helm/logout/values.yaml
  manifests/helm/mail/templates/svc.yaml
  manifests/helm/mail/values.yaml
  manifests/helm/oauth/templates/svc.yaml
  manifests/helm/oauth/values.yaml
  manifests/helm/register/templates/svc.yaml
  manifests/helm/register/values.yaml
  manifests/helm/token/templates/svc.yaml
  manifests/helm/token/values.yaml
  manifests/helm/update/templates/svc.yaml
  manifests/helm/update/values.yaml
Due: none

fix: Update service labels and selectors for consistency in svc.yaml
  manifests/helm/logout/templates/svc.yaml
Due: none

fix: Refactor MongoDB Helm chart to use PersistentVolume and PersistentVolumeClaim templates
  manifests/helm/utils/templates/mongodb/pv.yaml
  manifests/helm/utils/templates/mongodb/pvc.yaml
  manifests/helm/utils/templates/mongodb/statefulset.yaml
  manifests/helm/utils/values.yaml
Due: none

fix: Update image tag to version 0.0.4 in Helm chart values.yaml
  manifests/helm/chat/values.yaml
Due: none

fix: Update Dockerfile to use 'npm run server' and add server script to package.json; update image tag to version 0.0.4 in values.yaml
  login/Dockerfile
  login/package.json
  manifests/helm/login/values.yaml
Due: trigger_login

fix: Update image tag to version 0.0.5 in Helm chart values.yaml
  manifests/helm/login/values.yaml
Due: none

fix: Add .dockerignore to exclude build.env and update dotenv configuration in index.js
  login/.dockerignore
  login/src/index.js
Due: trigger_login

fix: Update image tag to version 0.0.6 in Helm chart values.yaml
  manifests/helm/login/values.yaml
Due: none

fix: Update .gitignore to include 'local' and modify redirect URL in oauth.controller.js
  .gitignore
  oAuth/src/controller/oauth.controller.js
Due: trigger_oauth

fix: Update package.json and package-lock.json to include http-proxy-middleware; add proxy middleware in app.js; modify redirect URL in oauth.controller.js
  apiGateway/package-lock.json
  apiGateway/package.json
  apiGateway/src/app.js
  frontend/.gitignore
  oAuth/src/controller/oauth.controller.js
Due: trigger_apiGateway, trigger_frontend, trigger_oauth

fix: Update dotenv configuration to load from .env only in non-production environments across multiple modules
  updateAccount/src/index.js
Due: trigger_updateaccount

fix: Update dotenv configuration to load from .env only in non-production environments across multiple modules
  apiGateway/src/index.js
  chatHandler/src/index.js
  generateToken/src/index.js
  getUser/src/index.js
  keyHandler/src/index.js
  logout/src/index.js
  oAuth/src/index.js
  register/src/index.js
Due: trigger_apiGateway, trigger_chat, trigger_token, trigger_getuser, trigger_keyhandler, trigger_logout, trigger_oauth, trigger_register
